@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-background: #1F2936; /* hero and footer */
  --hero-main-text: #F9FAF8; /* hero main text and header logo text*/
  --hero-secondary-text: #E5E7EB; /* hero secondary text, header link text*/
  --button: #3882F6; /* button color, call to action background color */
  --information-header: #1f2937; /* information header text */
  --quote-bg: #e5e7eb; /* quote section background color */
  --quote-text: #1F2937; /* quote section text color */
}

html, body {
  height: 100vh;
  font-family: 'Roboto', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

/* header section */

.header {
  display: flex;
  align-items: center;
  background-color: var(--dark-background);
  width: 100vh;
  padding: 0px 100vh;
}

.links-left {
  margin-right: auto;
}

.links-right {
  margin-left: auto;
}

.logo {
  color: var(--hero-main-text);
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--hero-secondary-text);
}

/* hero section */

.hero {
  display: flex;
  width: 100vh; 
  background-color: var(--dark-background);
  align-items: center;
  padding: 0px 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.main-title {
  color: var(--hero-main-text);
  font-size: 28px;
  font-weight: extra-bold;
}

.main-text {
  color: var(--hero-secondary-text);
  font-size: 18px;
}

.signup-btn-1 {
  flex-shrink: 0;
  background-color: var(--button);
  color: var(--hero-main-text);
  border: none;
  border-radius: 5px;
  max-width: fit-content;
  padding: 4px;
}

.hero-img {
  width: 200px;
  flex-shrink: 0;
  margin: 16px;
  background-color: rgba(255,255,255,0.3);
  color: white;
  padding: 16px;
  box-sizing: border-box;
}

/* info section */

.info {
  display: flex;
  flex-direction: column;
  width: 100vh;
  align-items: center;
}

.info-title {
  color: var(--information-header);
  font-size: 36px;
  font-weight: extra-bold;
}

.info-cards {
  display: flex;
  gap: 10px;
}

.card {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 100px;
  height: 100px;
  border: solid 1px var(--button);
  border-radius: 3px;
}

.card-info {
  text-align: center;
  color: var(--information-header);
}

/* quote section */

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: var(--quote-bg);
  width: 100vh;
  padding: 0px 100vh;
  color: var(--quote-text);
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  margin-bottom: -12px;
}

.quote-author {
  align-self: flex-end;
  font-weight: bold;
}

/* signup section */

.signup {
  display: flex;
  align-items: center;
  background-color: var(--button);
  color: var(--hero-secondary-text);
  width: 100vh;
  margin: 50px auto;
  padding: 32px;
  border-radius: 10px;
}

.banner-title {
  font-weight: bold;
  font-size: 18px;
}

.signup-btn-2 {
  border: solid 1px white;
  background-color: var(--button);
  color: var(--hero-secondary-text);
  margin-left: auto;
  flex-shrink: 0;
  border-radius: 5px;
  max-width: fit-content;
  padding: 4px;
}

.footer {
  background-color: var(--dark-background);
  width: 100vh;
  padding: 0px 100vh;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: var(--hero-main-text);

}